body{
  background: #C7D8DF;
  background: linear-gradient(180deg, #C7D8DF 0%, rgba(1,57,72,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
}


.AppTop{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:3rem  2rem;

}
#userName h2{
  font-size:1.18rem ;
  font-weight: 300;
  margin-bottom: -1rem;
}
#AppTittle h1{
  font-size:2rem ;
  font-weight: 600;
}
#lastTime {
  font-size: 1.18rem;
  font-weight: 600;
 
}



.AppImgBlock{
  gap: 2rem;
  display: flex;
  flex-direction: column;

}



#Icon img{
  width: 3rem;
}
#userImg img{
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 50%;
}