body{
  
  background: #C7D8DF;
  background: linear-gradient(180deg, #C7D8DF 0%, rgba(1,57,72,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
}


.AppTop{
  color: #013948;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;

}
#userName h2{
  font-size:1.18rem ;
  font-weight: 300;
  margin-bottom: -1rem;
}
#AppTittle h1{
  font-size:2.5rem ;
  font-weight: 600;
}
#lastTime {
  font-size: 1.18rem;
  font-weight: 600;

 
}



.AppImgBlock{
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#Icon img{
  width: 3rem;
}
#userIm{
  width: 4rem;
}

@media (max-width: 700px) {

  body {
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    margin: 0; /* Ensure no default body margin causes issues */
  }


  .Results-Container{
    width: 100%;
    gap: 1rem;
    display: flex;
    justify-content: center;
  }



  .Results-Container div img{
    width:  2rem;
    height: 2rem;
  }
  .Results-Container div h1{
    font-size: 1rem;
  }
  .Results-Container div{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    padding: 1.3rem 4rem 1.3rem 1rem;
    background-color: #049cdd;
  }




}
