@media (max-width: 700px) {
  body {
    overflow: hidden; /* Prevents scrolling */
    height: 100%; /* Ensures the body takes up the full viewport height */
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
  }
  .ReportResults{
    margin: 0 1.5rem;
  }
  .header{
    text-align: center;
  }
  .block{
    display: flex;
    justify-content: space-between;
  }
  .basicInfo{
    display: flex;
    flex-direction: column;
  }
  span{
    font-weight: bold;
  }

  .btns{
    font-size: 1.8rem;
    text-align: center;
    background-color: aqua;
    border-radius:  0 .8rem .8rem 0;
    padding: .3rem ;
  }
  .progress {
    background-color: #e9e8e8;
    height: 1.5rem;
    border-radius: 10px;
    width: 100%;
    position: relative;
  }
  .progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border-radius: 10px;


    color: #fff; 
    line-height: 20px; /* Align text vertically */
    transition: width 0.5s ease-in-out; /* Smooth transition for width change */
  }
  .hiddendiv{
    gap: .5rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
  }




















}
