body{
  background: rgb(172,226,228);
  background: linear-gradient(180deg, rgba(172,226,228,1) 0%, rgba(1,57,72,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
}