body{
  

  height: 100vh;
  margin: 0;
}

#forgot-password-Img img{
  width: 100%;
  height: 100%;
  margin-bottom: -2rem;
 
}
.forgot-password-container{
  gap: .3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
 
}
#logoBlock img{
  width: 10rem;
}
#forgotPasswordForm{
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inputSec{
  gap: .5rem;
  display: flex;

}
.inputSec input{
 width: 17rem;
}
#getPassword{
  background-color: transparent;
  width: 20rem;
  padding: .2rem 1rem;
}