/* Prevent horizontal scrollbars globally */
html,
body {
  max-width: 100%;
  height: 100vh;
  background: rgb(172,226,228);
background: linear-gradient(56deg, rgba(172,226,228,1) 0%, rgba(1,57,72,1) 100%);
  overflow-x: hidden;
}
.Evaluation{
  display: flex;
  align-items: center;
  justify-content: center;
}
.E-left{
  gap: 2rem;
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#IconLogo{
  width: 15rem;
}
.TextContent{
  padding: 2rem 2rem 80% 2rem;
  border-radius: 2rem 0 0 2rem;
}
.TextContent h1{
  font-size: 2.5rem;
}
.TextContent p{

  text-align: justify;
  font-size: 1.2rem;
}

/* ----------Right Side ----------------- */

.E-right{
  width: 35rem;
  padding: 0 4rem;
  border-radius: 3rem 3rem 3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.line{
  width: 90%;
  float: right;
  height: .5rem;
  margin: -1rem 0 2rem 0;
}
.Basic-Reg-mobile h1{
  font-size: 2.5rem;
}
.form-group{
  gap: 2rem;
  display: flex;
  margin: 1rem 0;
  align-items: center;
  justify-content: space-between;
}
.inputs{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Block{
  margin: 4rem 0;
}
label{
  font-size: 1.3rem;
}
input{
 padding: .5rem;
 font-size: 1.3rem;
}
.Btn{
  width: 100%;
  padding: .3rem;
  font-size: 1.2rem;
  margin: 1.2rem 0;

}
.form-group-dropdown{
  gap: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.2rem 0;
}
.main-question{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.extra-question{
  gap: 1.3rem;
  
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-question a{
 font-size: 1.3rem;
}
select{
  padding: .5rem;
}
option {
  font-size: 1.3rem;
}
.error {
  border: 2px solid red;
  background-color: #ffe6e6;
}
.bTittle{
  font-size: 1.5rem;
}
.checkBoxBlock{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.5rem 3rem;
  justify-content: space-between;
}
.checkBoxBlock label {
  font-size: 1.5rem;
}
 .box {
  width: 20px;
  height: 20px;

}
.form-grid{
  display: flex;
  flex-wrap: wrap;
}

.Block {
  display: none;
}


.Block.active {
  display: flex;
  flex-direction: column;

}




@media (max-width: 500px) {
  body {
    width: 100%;
    overflow-x: hidden; 
    background: rgb(255, 255, 255);
    background: linear-gradient(56deg, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 100%);
    margin: 0; /* Ensure no default body margin causes issues */
  }
  .Evaluation {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  #mobileImg {
    width: 27rem;
    height: 12rem;
    border-radius: 0 0 8rem 8rem;
  }
  #IconLogo{
    width: 12em;
    margin: -6rem 0 -2rem 0;
   position: relative;
  }
  .TextContent{
    display: none;
  }
  .Basic-Reg-mobile h1{
    font-size: 2rem;
  }
  .E-right {
    width: 21rem;
    padding: 3rem 13% 0 13%;
    border-radius: 4rem 4rem 0 0;
    margin-top: -1rem;
  }
  .form-grid{
    margin-top: -3rem;
  }
  .EvaluationQuestions{
    width: 100%;
  }
  .qIcon img{
    width: 1rem;
    height: 1rem;
  }
  .inputs label{
    font-size: 1rem;
    margin: .2rem;
  }
  .inputs input{
    padding:.1rem;
    font-size: 1rem;
  }
  .form-group-dropdown{
    display: flex;
    flex-direction: column;

  }
  .main-question a{
    font-size: 1rem;
  }
  .main-question select{
    font-size: 1rem;
    padding: .1rem;
  }
  .main-question select option{
    font-size: 1rem;
    padding: .1rem;
  }
  .extra-question{
    width: 20rem;
    padding: 0;
    margin: 0;
  }
  .extra-question label{
    width: 19rem;
    font-size: 1rem;
  }
  .extra-question select{
    font-size: 1rem;
    padding: .1rem;
  }

  .extra-question select option{
    font-size: 1rem;
    padding: .1rem;
  }
  .bTittle{
    font-size: 1.2rem;
  }
  .checkBoxBlock label{
    font-size: 1.2rem;
  }
  .box {
    width: 15px;
    height: 15px;
  
  }
  .hiddenQuestion{
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hiddenQuestion select{
    font-size: 1rem;
    padding: .1rem;
  }

  .hiddenQuestion select option{
    font-size: 1rem;
    padding: .1rem;
  }
}