@media (max-width: 700px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;

    line-height: 1.6;
    margin: 2rem;
    background: #C7D8DF;
    background: linear-gradient(180deg, #C7D8DF 0%, rgba(1,57,72,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; /* Ensures the body takes up the full viewport height */
  }
  .ReturnBlock{
    display: flex;
    justify-content: center;
    width: 2.5rem;
    padding:.3rem .2rem;
    margin:0  0  1rem 1.5rem ;
    border-radius: 3rem;
  }
  #ReturnIcon{
    width: 2rem;
    
  }
  h1{
   text-align: center;
   font-size: 1.5rem;
   margin: 0 2rem;
  }
  ul {
   margin: 10px 0;
   padding-left: 20px;
  }
  li {
   margin-bottom: 5px;
  }
  .section {
   margin-bottom: 20px;
  }
  .Content{
   padding:0 1rem;
   margin: 0 2rem;  
  }
  .HCont{
   gap: 1rem;
   display: flex;
   align-items: center;
   justify-content: center;
  }



}