body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  overflow: hidden; /* Disables scrolling */
  height: 100vh; /* Ensures the body height fits the viewport */
  width: 100vw; /* Ensures the body width fits the viewport */
}




@media (max-width: 700px) {
.TropHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: .5rem 2rem;
}
#logo{
  width: 6rem;
  margin: 1rem 0;
}
#Troptittle{
  font-weight: bold;
}
.Line{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: .3rem;
  background-color: aliceblue;
   margin: 0 2rem;
}


#LogrosBlock {
  width: 23rem;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  margin: 1rem ;


}
.SlotTittle{
  width: 7rem;
  display: flex;
 flex-direction: column;
  align-items: center;
  justify-content: center;
}
.SlotTittle h3{
  font-size: .9rem; 
  padding: .5rem;
}

.SlotTittle img {
  width: 4rem;
  height: 4rem;
}






















  .navBtns{
    gap: 2rem;
    display: flex;
    margin: 2rem 0;
    justify-content: center;
  }

  .navBtns div img{
    width:  2rem;
    height: 2rem;
  }



}


