/* Prevent horizontal scrollbars globally */
html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.Registro{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.E-left{
  gap: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.line{
  width: 90%;
  float: right;
  height: .5rem;
  margin: -1rem 0 2rem 0;
}
#IconLogo{
  width: 15rem;
}
.TextContent{
  padding: 2rem 2rem 80% 2rem;
  border-radius: 2rem 0 0 2rem;
}
.TextContent h1{
  font-size: 2.5rem;
}
.TextContent p{
  width: 32rem;
  text-align: justify;
  font-size: 1.2rem;
}
.E-right{
  padding: 2rem;
 
}
.form-container{
  width: 50rem;
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
  padding: 4rem 0;


}
.form-group{
  display: flex;
  flex-direction: column;
}
#form-group{
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

}
.form-group label{
  font-size: 1.3rem;
}
.form-group input{
  width: 15rem;
  height: 2rem;

}
.Basic-Reg-mobile h1{
  font-size: 3rem;
  padding: 0 0 0 2rem;
} 
.BusinessContent{
  gap: .1rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

}
.Bquestions{
  gap: 2rem;
  display: flex;
  flex-wrap: wrap;
}
.line2{
  width: 60%;
  float: left;
  height: .5rem;
  margin: 1rem 0;

}
.SendBtn{
    
  width: 80%;
  padding: .5rem;
  font-size: 1.5rem;
  margin: 0 auto;
}

/* Initially hide both the extra question sections */
.extra-question {
  display: none;
}

/* Style for the form */
.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 16px;
  margin-left: 10px;
}

select {
  margin-top: 10px;
  padding: 5px;
  font-size: 14px;
}

.hiddenQuestion {
  display: none;
}







@media (max-width: 768px) {
  body {
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    margin: 0; /* Ensure no default body margin causes issues */
  }
  .Registro {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  #mobileImg {
    width: 27rem;
    height: 12rem;
    border-radius: 0 0 8rem 8rem;
  }
  #IconLogo{
    width: 12em;
    margin: 8rem 0 0 0;
    position: absolute;
  }
  .TextContent{
    display: none;
  }
  .Basic-Reg-mobile h1{
    font-size: 2.3rem;
  }
  .line {
    width: 90%;
    height: 0.5rem;
    margin: -1rem 0 2rem 0;
  }
  .E-right {
    padding: 4rem 2rem 0 2rem;
    border-radius: 4rem 4rem 0 0;
    margin-top: 4rem;
  }
  .form-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: -10rem 0 0 0;
   
  }
  .form-group-Reg{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* -------------- Registro Groups -------------------*/
  .form-group {
    gap: 1rem;
    display: flex;
    margin:  0;
    padding: .5rem 2rem;
    flex-direction: row;
    
   justify-content: space-between;

   
  }
  .form-group label {
    font-size: 1rem;
  }
  .form-group input {
    width: 100%;
    height: 1.5rem;
  }
  /* -------------- Evaluation -------------------*/
  #Evaluation{
    margin-top: 10rem;
  }
  .blockTittle{
    font-size: 1.2rem;
    display: flex;
    align-items: center;

    justify-content: space-around;
    margin: 0 2rem;
    padding-bottom: 2rem;
    
  }
  .lines {
    width: 90%;
    height: 0.5rem;
    margin: -1rem 0 2rem 0;
  }
  .EvaluationQuestions{
    padding: 1rem 2rem 0 2rem;
    border-radius: 4rem 4rem 0 0;
  }
  .Btn{
    width: 80%;
    margin: 2rem;
    padding: .5rem 0;
  }
  .SendBtn{
    margin: -3rem auto 0 auto;
    padding: .2rem 0;
    font-size: 1rem;
  }
  .qIcon img{
    width: 3rem;
    height: 3rem;
  }
  .form-group-check{
    display: flex;
    flex-direction: column;

  }
  .checkBoxBlock{
 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: .5rem 4rem .5rem  2rem;
  }
  .checkBoxBlock label{
 font-size: 1.1rem;
  }
  #rSendBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin:2rem;
    padding: .5rem 0;
  }





















  .Block {
    display: none;
  }
  .Block.active {
    display: block;
  }










  input.error {
    border: 2px solid red;
  }
  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    display: block;
  }
  .hidden{
    display: none;
  }
  .hidden h1{
    font-size: 1.5rem;
    padding: 0 1rem;
  }

  .hiddenBusinessContent {
    display: none;
    margin: -4rem 2rem  4rem 2rem;
  }
  .visible {
    display: block;
  }
  .show{
    display: block;
  }

}

