body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  overflow: hidden; /* Disables scrolling */
  height: 100vh; /* Ensures the body height fits the viewport */
  width: 100vw; /* Ensures the body width fits the viewport */
  touch-action: none; /* Disable gestures like zoom */
    overscroll-behavior: none; /* Prevent overscroll bounce on mobile */
    
}




@media (max-width: 700px) {


.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:  .5rem 0 ;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin:  .5rem 0 
}


#logo{
  width: 6rem;
  margin: 1rem 0;
}
#Troptittle{
  font-weight: bold;
}
.Line{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: .2rem;
  background-color: aliceblue;
  
}























  .navBtns{
    gap: 2rem;
    display: flex;
    margin: 2rem 0;
    justify-content: center;
  }

  .navBtns div img{
    width:  2rem;
    height: 2rem;
  }






.dashboard {


  padding: 20px;

}

.dashboard h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.dashboard h2 {
  font-size: 40px;
  margin: 0;
}

.dashboard p {
  font-size: 12px;
  margin: 5px 0;

}

.bar-chart {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.bar {
  height: 200px;
  width: 40px;
  background: #013948;
  border-radius: 5px;
  position: relative;
}

.bar div {
  width: 100%;
  background: white;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
}
.bar div {
  width: 100%;
  background: #ACE2E4;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
}









.goal-marker {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  border-top: 2px dotted rgb(255, 255, 255); /* Dotted line for the goal marker */
  margin-top: -1px; /* Prevent overlap with the bar */
  color: rgb(255, 255, 255); /* Optional: Label color to match the line */
}


.bar-label {
  text-align: center;
  font-size: 17px;
  margin-top: 5px;
}

.progress-bar {
  margin:  1rem 1rem 0 1rem;
}
.progress-bar p {
  font-size: 17px;
}
.progress-bar div {
  height: 20px;
  background: white;
  border-radius: 10px;
  position: relative;
}

.progress-bar .filled {
  height: 100%;
  background: #ACE2E4;
  border-radius: 5px;
}

.progress-percentage {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  font-size: 20px;
}


.mainPoints{
  display: flex;
  justify-content: space-evenly;
  margin: 1rem 0 ;
}
}