body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  overflow: hidden; /* Disables scrolling */
  height: 100vh; /* Ensures the body height fits the viewport */
  width: 100vw; /* Ensures the body width fits the viewport */

  touch-action: none; /* Disable gestures like zoom */
    overscroll-behavior: none; /* Prevent overscroll bounce on mobile */
}




@media (max-width: 700px) {
.TropHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: .5rem 2rem;
}
#logo{
  width: 6rem;
  margin: 1rem 0;
}
#Troptittle{
  font-weight: bold;
}
.Line{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: .3rem;
  background-color: aliceblue;
   margin: 0 2rem;
}



.SlotTittle{
  width: 7rem;
  display: flex;
 flex-direction: column;
  align-items: center;
  justify-content: center;
}
.SlotTittle h3{
  font-size: .9rem; 
  padding: .5rem;
}

.SlotTittle img {
  width: 4rem;
  height: 4rem;
}


/* Apply this to the LogrosBlock section */
#LogrosBlock {
  height: 550px; /* Set the desired height for the scrollable area */
  width: 23rem;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Disable horizontal scrolling */
  
  padding: 10px; /* Optional: Add some padding */

  
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 1rem ;
  }


/* Style for the entire page to prevent scrolling */
body {
  overflow: hidden; /* Disable scrolling for the rest of the page */
}

/* Optional: Add custom scrollbar styling */
#LogrosBlock::-webkit-scrollbar {
  width: 8px;
}

#LogrosBlock::-webkit-scrollbar-thumb {
  background-color: #555; /* Customize the scrollbar thumb */
  border-radius: 4px;
}

#LogrosBlock::-webkit-scrollbar-thumb:hover {
  background-color: #333; /* Darker on hover */
}

#LogrosBlock::-webkit-scrollbar-track {
  background-color: #e9e8e8; /* Customize the scrollbar track */
}



















  .navBtns{
    gap: 2rem;
    display: flex;
    margin: 2rem 0;
    justify-content: center;
  }

  .navBtns div img{
    width:  2rem;
    height: 2rem;
  }



}


